.container {
    width: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    background-color: #bee3f8;
    border-radius: 8px;
}

.subContainer{
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
  